### 1. Даны 2 строки long_phrase и short_phrase. Напишите код, который проверяет действительно ли длинная фраза long_phrase длиннее короткой short_phrase. И выводит True или False в зависимости от результата сравнения.

long_phrase = 'Насколько проще было бы писать программы, если бы не заказчики'
short_phrase = '640Кб должно хватить для любых задач. Билл Гейтс (по легенде)'

In [3]:
def is_longer(long, short):
    return len(long) > len(short)
is_longer(input(), input())

My code is perfect
My code is not as perfect as I wish it would be

False

Тесты для первого задания:

In [19]:
'''But first, make Jupyter to display any variable or statement on it's own line without the need for a print statement.'''
from IPython.core.interactiveshell import InteractiveShell
InteractiveShell.ast_node_interactivity = "all"

"But first, make Jupyter to display any variable or statement on it's own line without the need for a print statement."

In [11]:
is_longer('Hello','Hi')
is_longer('123','1')
is_longer('1','123')
is_longer('HJkjhkjdfdKKJNnjNJNJ8789dsfdsfjk','nxcsdc')

True

True

False

True

### 2. Дана строка text. Определите какая из двух букв встречается в нем чаще - 'а' или 'и'.
text = 'Если программист в 9-00 утра на работе, значит, он там и ночевал'

P. S. Вам может помочь метод replace.

In [15]:
def count_letter(text, letter_frst, letter_scnd):
    print(letter_frst if len(text.lower().replace(letter_frst.lower(),'')) < len(text.lower().replace(letter_scnd.lower(), '')) else letter_scnd)

In [16]:
count_letter( 'Если программист в 9-00 утра на работе, значит, он там и ночевал','а','и')

а

Тесты для второго задания:

In [17]:
count_letter('Some text for testing','o','e')
count_letter('SOme tExt for tEsting','O','e')
count_letter('123321SignaAAaliing','a','i')

e
e
a

### 3. Дано значение объема файла в байтах. Напишите перевод этого значения в мегабайты в формате:
'Объем файла равен 213.68Mb'

In [30]:
# reference: http://aldro.ru/science/22-bajty-bity-teoriya-i-perevod.html
def convert_to_mb(num):
    try:
        print('Объем файла равен {:.2f}Mb'.format(num / 1048576))
    except TypeError:
        print('Wrong type of your number!')

In [31]:
convert_to_mb(213.68 * 1048576)

Объем файла равен 213.68Mb

Тесты для третьего задания:

In [32]:
convert_to_mb(1048576)
convert_to_mb(100000000)
convert_to_mb(23123)
convert_to_mb(2341234)
convert_to_mb('sdfsd')
convert_to_mb('23423f')

Объем файла равен 1.00Mb
Объем файла равен 95.37Mb
Объем файла равен 0.02Mb
Объем файла равен 2.23Mb
Wrong type of your number!
Wrong type of your number!

### 4. Выведите на экран значение синуса 30 градусов с помощью метода math.sin.

In [37]:
import math
def sin(angle):
    return math.sin(angle * math.pi / 180)

In [38]:
sin(30)

0.49999999999999994

Тесты для четвертого задания:

In [39]:
sin(45)
sin(60)
sin(90)
sin(15)

0.7071067811865476

0.8660254037844386

1.0

0.25881904510252074

### 5. В прошлом задании у вас скорее всего не получилось точного значения 0.5 из-за конечной точности вычисления синуса. Но почему некоторые простые операции также могут давать неточный результат? Попробуйте вывести на экран результат операции 0.1 + 0.2

In [28]:
n = 0.1+0.2
round((0.1 + 0.2),1)

0.3

https://docs.python.org/3.7/tutorial/floatingpoint.html
https://www.quora.com/Why-is-0-1+0-2-not-equal-to-0-3-in-most-programming-languages

### 6.В переменных a и b записаны 2 различных числа. Вам необходимо написать код, который меняет значения a и b местами без использования третьей переменной.

In [44]:
a = 3
b = 2
a , b = b, a

In [47]:
a
b

2

3

### 7.Дано число в двоичной системе счисления: num=10011. Напишите алгоритм перевода этого числа в привычную нам десятичную систему счисления.
Возможно, вам понадобится цикл прохождения всех целых чисел от 0 до m:
for n in range(m)

In [53]:
#An easy way
print(0b10011)
print(int('10011',2))

19
19

In [75]:
num = 10011
def convert_to_2(num):
    _sum , factor = 0, 0
    for m in str(num)[::-1]:
        _sum += int(m) * (2 ** factor)
        factor += 1
    return _sum
convert_to_2(10011)

19

Тесты:

In [76]:
one = 1
two = 10
three = 11
four = 100
five = 101
six = 110
seven = 111
eight = 1000
nine = 1001
ten = 1010
eleven = 1011
twelve = 1100

In [77]:
convert_to_2(one)
convert_to_2(two)
convert_to_2(three)
convert_to_2(four)
convert_to_2(five)
convert_to_2(six )
convert_to_2(seven)
convert_to_2(eight)
convert_to_2(nine)
convert_to_2(ten)
convert_to_2(eleven )
convert_to_2(twelve)

1

2

3

4

5

6

7

8

9

10

11

12

In [91]:
num = 10011
def convert_to_2_v2(num):
    _sum  = 0
    for m in range(len(str(num))): 
        _sum += (num % 10) * (2 ** m)
        num = num // 10
    return _sum
convert_to_2(10011)

19

In [89]:
convert_to_2_v2(one)
convert_to_2_v2(two)
convert_to_2_v2(three)
convert_to_2_v2(four)
convert_to_2_v2(five)
convert_to_2_v2(six )
convert_to_2_v2(seven)
convert_to_2_v2(eight)

1

2

3

4

5

6

7

8