# Функции и классы

In [ ]:
i = 0
with open('adult.csv', 'r') as f:
    for line in f:
        print(line)
        
        i += 1
        if i > 5:
            break

Хотим классифицировать жителей в файле по возрастам:
* до 18 лет - children 
* 19-65 - young
* старше 65 - retiree

In [ ]:
i = 0
with open('adult.csv', 'r') as f:
    for line in f:
        age, *_ = line.strip().split(',')
        
        if i > 0:
            print(age)
        
        i += 1
        if i > 5:
            break

In [ ]:
i = 0
with open('adult.csv', 'r') as f:
    for line in f:
        age, *_ = line.strip().split(',')
        
        if i > 0:
            if int(age) <= 18:
                age_group = 'children'

            elif int(age) <= 60:
                age_group = 'young'

            else:
                age_group = 'retiree'
                
            print(age, age_group)
        
        i += 1
        if i > 10:
            break

Что тут нехорошо:
* сложно потестировать все случаи (в нашем цикле нужных случаев может и не оказаться)
* наш цикл стал довольно громоздким, а мы только начали
* эта классификация может потребоваться еще в 100500 местах кода
* данные могут быть кривыми и скрипт будет падать с ошибкой

Условия вычисления возрастной группы:
1. В строке 15 столбцов
2. Столбец с возрастом первый по счету
3. Возраст должен быть целым числом в адекватных пределах
4. Могут добавиться еще требования, о которых мы пока не знаем

In [ ]:
line = '25,Private,226802,11th,7,Never-married,Machine-op-inspct,Own-child,Black,Male,0,0,40,United-States,<=50K'

In [ ]:
def line_is_correct(line):
    """
    Проверка строки на корректность. Проверяются условия:
    1. В строке 15 столбцов (пригодится с упражнения)
    2. Столбец с возрастом первый по счету
    3. Возраст должен быть целым числом в адекватных пределах
    """
    age = line.strip().split(',')[0]
    
    if number_of_columns(line) == 15:
        if age_is_correct(age):
            return True
    
    return False

In [ ]:
def number_of_columns(line, separator=','):
    """Возвращает количество столбцов в строке line с разделителем separator"""
    
    return len(line.split(separator))

In [ ]:
def age_is_correct(age, lower_age = 0, upper_age = 120):
    """
    Проверка корректности возраста age по следующим правилам:
    1. Целое число
    2. В адекватных пределах
    
    Возвращает True или False. Пример
    age_is_correct(15)
    True
    
    age_is_correct(121)
    False
    
    age_is_correct(-5)
    False
    """
    
    if str.isnumeric(age):
        if lower_age <= int(age) <= upper_age:
            return True
    
    return False

### Добавляем функции проверки в наш цикл

In [ ]:
i = 0
with open('adult.csv', 'r') as f:
    for line in f:
        
        if line_is_correct(line):
            age, *_ = line.strip().split(',')
            if int(age) <= 18:
                age_group = 'children'

            elif int(age) <= 60:
                age_group = 'young'

            else:
                age_group = 'retiree'

            print(age, age_group)
        
        i += 1
        if i > 10:
            break

### Давайте вынесем классификацию возраста в отдельную функцию

In [ ]:
def age_classification(age):
    """
    Возвращает возрастную категорию для возраста age (можно передать как строку).
    Классификация категорий:
        - до 18 лет - children 
        - 19-60 - young
        - старше 65 - retiree
    
    Пример
    age_classification('18')
    'children'
    
    age_classification(65)
    'retiree'
    """
    
    if int(age) <= 18:
        return 'children'
    if int(age) <= 65:
        return 'young'
    if int(age) > 65:
        return 'retiree'
    return 'boom'

In [ ]:
age_classification(61)

In [ ]:
i = 0
with open('adult.csv', 'r') as f:
    for line in f:
        if line_is_correct(line):
            age, *_ = line.strip().split(',')
            print(age, age_classification(age))
        
        i += 1
        if i > 10:
            break

### Упражнение

Напишите функцию, которая заменяет значения целевой переменной income с >50K и <=50K на 1 и 0.
Добавьте проверку на корректность значения income

In [11]:
def validate_inc(income):
    if str.isnumeric(str(income)):
                     if int(income) > 50000:
                        income = 1
                        return income
                     elif int(income) <= 50000:
                        income = 0
                        return income
    return 'Error'

In [12]:
validate_inc(45000)

0

In [13]:
validate_inc('5000000')
validate_inc('sdfs3df')

'Error'

### Map и lambda-функции

In [14]:
nums = [ 1, 2, 3, 4, 5 ]

In [15]:
only_odd_numbers = lambda x: x % 2 == 0

In [16]:
[x for x in nums if only_odd_numbers(x)]

[2, 4]

In [17]:
def square(x):
    return x**2

In [18]:
list( map(square, nums) )

[1, 4, 9, 16, 25]

In [19]:
def cube(x):
    return x**3

In [20]:
for i in range(len(nums)):
    print(list(map(lambda x: x(nums[i]), [square, cube])))

[1, 1]
[4, 8]
[9, 27]
[16, 64]
[25, 125]

###  Упражнение
Дана статистика рекламных кампаний в формате дата - кампания - переходы.

Напишите функцию vk_campaigns, которая фильтрует список ad_stats по кампании vk. А затем функцию, вычисляющую сумму переходов по кампаниям vk.

In [3]:
ad_stats = [
    '2018-01-01,vk,43',
    '2018-01-01,fb,775',
    '2018-01-01,ya,64',
    '2018-01-02,vk,1164',
    '2018-01-02,fb,35',
    '2018-01-02,ya,254',
    '2018-01-02,ok,645',
    '2018-01-03,vk,7754',
    '2018-01-03,fb,654',
    '2018-01-03,ya,4625',
    '2018-01-03,ok,245',
]

In [4]:
'''
def is_vk(s):
    return s.strip().lower().split(',')[1] == 'vk' 
'''
'''def is_vk(s):
    return 'vk' in s.lower()'''
is_vk = lambda s: 'vk' in s.lower()

In [5]:
sum([int(line.split(',')[2]) for line in ad_stats if is_vk(line)])

8961

In [40]:
def sum_go(lst):
    sum_ = 0
    for line in lst:
        if is_vk(line):
            sum_ += int(line.split(',')[2])
    return sum_
sum_go(ad_stats)

8961

### Если аргументы функции заранее неизвестны

Задача - посчитать уникальные элементы в столбцах большого файла

In [43]:
def request(*args):
    return args

In [44]:
request('2018-01-01', '2018-01-31')

{'2018-01-01', '2018-01-31'}

In [45]:
def request(**kwargs):
    return kwargs

In [46]:
request(date_from='2018-01-01', date_to='2018-01-31')

{'date_from': '2018-01-01', 'date_to': '2018-01-31'}

### Упражнение
Необходима функция, которая составляет запрос к API в следующем формате:

https://api.service.ru/reports?date1=2018-01-01&date2=2018-01-31&accuracy=full&id=4721932

Хост https://api.service.ru постоянен, название метода 'reports' и набор параметров date1, date2, accuracy, id может меняться и задается пользователем в качестве аргументов функции. В итоге функция должна возвращать URL для запроса к API с параметрами.

In [19]:
# для перевода словаря в параметры URL можно использовать urlencode

from urllib.parse import urlencode
urlencode({'param1': 'foo', 'param2': 'bar'})

'param1=foo&param2=bar'

In [17]:
def prep_request(method, **kwargs):
    host = r'https://api.service.ru'
    param = []
    for key, value in kwargs.items():
        param.append(key+'='+value)
    return host + r'/?'  + '&'.join(param)

In [18]:
prep_request('reports',date1 = '2018-01-01', date2 = '2018-01-31')

'https://api.service.ru/?date1=2018-01-01&date2=2018-01-31'

In [24]:
#вариант с использоыванием библиотеки urllib
from urllib.parse import urlencode
def get_api(host = r'https://api.service.ru',method = r'reports',**params):
    return '{}/{}?{}'.format(host,method,urlencode(params))
print(get_api(date1 = '2018-01-01', date2 = '2018-01-31'))

https://api.service.ru/reports?date1=2018-01-01&date2=2018-01-31

### Рекурсия

In [ ]:
i = 10

while i >= 1:
    print(i)
    i -=1

In [ ]:
def decrease_and_print_i(i):
    if i > 1:
        print(i)
        return decrease_and_print_i(i - 1)

    else:
        return 1

In [ ]:
decrease_and_print_i(10)

# Немного про тесты

При необходимости функции удобно выносить в отдельные файлы. Смотрим validations.py и test_validations.py

запуск тестов из командной строки:

pytest test_validations.py

In [25]:
# coding: utf-8

import pytest
from validations import age_is_correct


@pytest.mark.parametrize(
	'age,expected',
	[
		('15', True),
		('121', False),
		('-5', False),
		pytest.param(20, True, marks=pytest.mark.xfail(raises=TypeError)),
	])
def test_age_is_correct(age, expected):
	assert expected == age_is_correct(age)

ModuleNotFoundError: No module named 'validations'

# Классы

### Задача
Ваш скрипт использует данные по курсу евро на сегодня. Данные по курсам валют можно брать из открытых источников, например, отсюда https://www.cbr-xml-daily.ru/daily_json.js

Грядущие проблемы:

1. Аналогичный курс евро нужен еще нескольким отчетам и десятку ваших коллег

2. С упомянутым сервисом может много чего случиться:
    - временная недоступность
    - изменение URL с данными
    - изменение формата ответа
    - закрытие сервиса
    
3. Со временем могут потребоваться данные не только евро, но и других валют. Также может потребоваться курс за период

Во всех этих ситуациях формат возвращаемого курса должен оставаться постоянным, чтобы не переписывать уже написанные отчеты.

In [ ]:
import requests

In [26]:
class Rate:
    def __init__(self, format='value'):
        self.format = format
    
    def exchange_rates(self):
        """
        Возвращает ответ сервиса с информацией о валютах в виде:
        
        {
            'AMD': {
                'CharCode': 'AMD',
                'ID': 'R01060',
                'Name': 'Армянских драмов',
                'Nominal': 100,
                'NumCode': '051',
                'Previous': 14.103,
                'Value': 14.0879
                },
            ...
        }
        """
        r = requests.get('https://www.cbr-xml-daily.ru/daily_json.js')
        return r.json()['Valute']
    
    def make_format(self, currency):
        """
        Возвращает информацию о валюте currency в двух вариантах:
        - полная информация о валюте при self.format = 'full':
        Rate('full').make_format('EUR')
        {
            'CharCode': 'EUR',
            'ID': 'R01239',
            'Name': 'Евро',
            'Nominal': 1,
            'NumCode': '978',
            'Previous': 79.6765,
            'Value': 79.4966
        }
        
        Rate('value').make_format('EUR')
        79.4966
        """
        response = self.exchange_rates()
        
        if currency in response:
            if self.format == 'full':
                return response[currency]
            
            if self.format == 'value':
                return response[currency]['Value']
        
        return 'Error'
    
    def eur(self):
        """Возвращает курс евро на сегодня в формате self.format"""
        return self.make_format('EUR')
    
    def usd(self):
        """Возвращает курс доллара на сегодня в формате self.format"""
        return self.make_format('USD')

для импорта внешних файлов импортируем библиотеку sys далее sys.path.append('путь_до_файла')

### Упражнение на дом
1. Добавьте в класс еще один формат, который возвращает название валюты (например, 'Евро').

2. Добавьте в класс параметр diff (со значениями True или False), который в случае значения True в методах eur и usd будет возвращать не курс валюты, а изменение по сравнению в прошлым значением.

In [30]:
import requests
s = Rate()
s.exchange_rates()

{'AUD': {'ID': 'R01010',
  'NumCode': '036',
  'CharCode': 'AUD',
  'Nominal': 1,
  'Name': 'Австралийский доллар',
  'Value': 47.8816,
  'Previous': 47.8066},
 'AZN': {'ID': 'R01020A',
  'NumCode': '944',
  'CharCode': 'AZN',
  'Nominal': 1,
  'Name': 'Азербайджанский манат',
  'Value': 39.1996,
  'Previous': 39.046},
 'GBP': {'ID': 'R01035',
  'NumCode': '826',
  'CharCode': 'GBP',
  'Nominal': 1,
  'Name': 'Фунт стерлингов Соединенного королевства',
  'Value': 83.8194,
  'Previous': 84.2924},
 'AMD': {'ID': 'R01060',
  'NumCode': '051',
  'CharCode': 'AMD',
  'Nominal': 100,
  'Name': 'Армянских драмов',
  'Value': 13.692,
  'Previous': 13.6722},
 'BYN': {'ID': 'R01090B',
  'NumCode': '933',
  'CharCode': 'BYN',
  'Nominal': 1,
  'Name': 'Белорусский рубль',
  'Value': 31.3128,
  'Previous': 31.2269},
 'BGN': {'ID': 'R01100',
  'NumCode': '975',
  'CharCode': 'BGN',
  'Nominal': 1,
  'Name': 'Болгарский лев',
  'Value': 38.7001,
  'Previous': 38.6857},
 'BRL': {'ID': 'R01115',
  'NumCode': '986',
  'CharCode': 'BRL',
  'Nominal': 1,
  'Name': 'Бразильский реал',
  'Value': 16.9731,
  'Previous': 16.9524},
 'HUF': {'ID': 'R01135',
  'NumCode': '348',
  'CharCode': 'HUF',
  'Nominal': 100,
  'Name': 'Венгерских форинтов',
  'Value': 23.3998,
  'Previous': 23.4144},
 'HKD': {'ID': 'R01200',
  'NumCode': '344',
  'CharCode': 'HKD',
  'Nominal': 10,
  'Name': 'Гонконгских долларов',
  'Value': 85.101,
  'Previous': 84.7817},
 'DKK': {'ID': 'R01215',
  'NumCode': '208',
  'CharCode': 'DKK',
  'Nominal': 1,
  'Name': 'Датская крона',
  'Value': 10.1408,
  'Previous': 10.1353},
 'USD': {'ID': 'R01235',
  'NumCode': '840',
  'CharCode': 'USD',
  'Nominal': 1,
  'Name': 'Доллар США',
  'Value': 66.5022,
  'Previous': 66.2416},
 'EUR': {'ID': 'R01239',
  'NumCode': '978',
  'CharCode': 'EUR',
  'Nominal': 1,
  'Name': 'Евро',
  'Value': 75.6197,
  'Previous': 75.7075},
 'INR': {'ID': 'R01270',
  'NumCode': '356',
  'CharCode': 'INR',
  'Nominal': 100,
  'Name': 'Индийских рупий',
  'Value': 92.5699,
  'Previous': 92.9511},
 'KZT': {'ID': 'R01335',
  'NumCode': '398',
  'CharCode': 'KZT',
  'Nominal': 100,
  'Name': 'Казахстанских тенге',
  'Value': 17.9358,
  'Previous': 17.9162},
 'CAD': {'ID': 'R01350',
  'NumCode': '124',
  'CharCode': 'CAD',
  'Nominal': 1,
  'Name': 'Канадский доллар',
  'Value': 49.5878,
  'Previous': 49.7421},
 'KGS': {'ID': 'R01370',
  'NumCode': '417',
  'CharCode': 'KGS',
  'Nominal': 100,
  'Name': 'Киргизских сомов',
  'Value': 95.2754,
  'Previous': 94.902},
 'CNY': {'ID': 'R01375',
  'NumCode': '156',
  'CharCode': 'CNY',
  'Nominal': 10,
  'Name': 'Китайских юаней',
  'Value': 96.394,
  'Previous': 95.8079},
 'MDL': {'ID': 'R01500',
  'NumCode': '498',
  'CharCode': 'MDL',
  'Nominal': 10,
  'Name': 'Молдавских леев',
  'Value': 38.5744,
  'Previous': 38.4567},
 'NOK': {'ID': 'R01535',
  'NumCode': '578',
  'CharCode': 'NOK',
  'Nominal': 10,
  'Name': 'Норвежских крон',
  'Value': 78.0158,
  'Previous': 78.2258},
 'PLN': {'ID': 'R01565',
  'NumCode': '985',
  'CharCode': 'PLN',
  'Nominal': 1,
  'Name': 'Польский злотый',
  'Value': 17.6118,
  'Previous': 17.6404},
 'RON': {'ID': 'R01585F',
  'NumCode': '946',
  'CharCode': 'RON',
  'Nominal': 1,
  'Name': 'Румынский лей',
  'Value': 16.2685,
  'Previous': 16.2772},
 'XDR': {'ID': 'R01589',
  'NumCode': '960',
  'CharCode': 'XDR',
  'Nominal': 1,
  'Name': 'СДР (специальные права заимствования)',
  'Value': 92.1361,
  'Previous': 91.7817},
 'SGD': {'ID': 'R01625',
  'NumCode': '702',
  'CharCode': 'SGD',
  'Nominal': 1,
  'Name': 'Сингапурский доллар',
  'Value': 48.4357,
  'Previous': 48.3304},
 'TJS': {'ID': 'R01670',
  'NumCode': '972',
  'CharCode': 'TJS',
  'Nominal': 10,
  'Name': 'Таджикских сомони',
  'Value': 70.6343,
  'Previous': 70.2747},
 'TRY': {'ID': 'R01700J',
  'NumCode': '949',
  'CharCode': 'TRY',
  'Nominal': 1,
  'Name': 'Турецкая лира',
  'Value': 12.3702,
  'Previous': 12.5296},
 'TMT': {'ID': 'R01710A',
  'NumCode': '934',
  'CharCode': 'TMT',
  'Nominal': 1,
  'Name': 'Новый туркменский манат',
  'Value': 19.0278,
  'Previous': 18.9532},
 'UZS': {'ID': 'R01717',
  'NumCode': '860',
  'CharCode': 'UZS',
  'Nominal': 10000,
  'Name': 'Узбекских сумов',
  'Value': 80.207,
  'Previous': 79.6671},
 'UAH': {'ID': 'R01720',
  'NumCode': '980',
  'CharCode': 'UAH',
  'Nominal': 10,
  'Name': 'Украинских гривен',
  'Value': 23.987,
  'Previous': 23.8322},
 'CZK': {'ID': 'R01760',
  'NumCode': '203',
  'CharCode': 'CZK',
  'Nominal': 10,
  'Name': 'Чешских крон',
  'Value': 29.2594,
  'Previous': 29.2729},
 'SEK': {'ID': 'R01770',
  'NumCode': '752',
  'CharCode': 'SEK',
  'Nominal': 10,
  'Name': 'Шведских крон',
  'Value': 73.3817,
  'Previous': 73.3426},
 'CHF': {'ID': 'R01775',
  'NumCode': '756',
  'CharCode': 'CHF',
  'Nominal': 1,
  'Name': 'Швейцарский франк',
  'Value': 67.344,
  'Previous': 66.9919},
 'ZAR': {'ID': 'R01810',
  'NumCode': '710',
  'CharCode': 'ZAR',
  'Nominal': 10,
  'Name': 'Южноафриканских рэндов',
  'Value': 45.9851,
  'Previous': 46.8904},
 'KRW': {'ID': 'R01815',
  'NumCode': '410',
  'CharCode': 'KRW',
  'Nominal': 1000,
  'Name': 'Вон Республики Корея',
  'Value': 58.7631,
  'Previous': 58.7295},
 'JPY': {'ID': 'R01820',
  'NumCode': '392',
  'CharCode': 'JPY',
  'Nominal': 100,
  'Name': 'Японских иен',
  'Value': 58.8177,
  'Previous': 58.8161}}