In [20]:
import numpy as np
import pandas as pd

### Задание 1
Создайте numpy array с элементами от числа N до 0 (например, для N = 10 это будет array([9, 8, 7, 6, 5, 4, 3, 2, 1, 0])).

In [39]:
def create_reversed_array(n):
    '''возвращает array с числами от n до 0, используя функцию библиотеки np.fliplr(), которая меняет местами значения в направлениях лево/право
    ("Flip the entries in each row in the left/right direction")'''
    return np.fliplr([np.arange(0,n)])

In [40]:
create_reversed_array(10)

array([[9, 8, 7, 6, 5, 4, 3, 2, 1, 0]])

In [41]:
def create_reversed_array_v2(n):
    '''Возвращает  array с числами от n до 0, используя возможности синтаксиса языка'''
    return np.array(range(n))[::-1]

In [42]:
create_reversed_array_v2(10)

array([9, 8, 7, 6, 5, 4, 3, 2, 1, 0])

### Задание 2
Создайте диагональную матрицу с элементами от N до 0. Посчитайте сумму ее значений на диагонали.

In [50]:
def get_reversed_diag(n):
    '''возвращает перевернутую диагональную матрицу'''
    return np.flipud(np.fliplr(np.diag(np.arange(n), k=0)))

In [58]:
#trace возвращает сумму диагональных элементов матрицы
np.trace(get_reversed_diag(10))

45

### Задание 3
Скачайте с сайта https://grouplens.org/datasets/movielens/ датасет любого размера. Определите какому фильму было выставлено больше всего оценок 5.0.

In [73]:
df = pd.read_csv('ratings.csv')

In [74]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 100836 entries, 0 to 100835
Data columns (total 4 columns):
userId       100836 non-null int64
movieId      100836 non-null int64
rating       100836 non-null float64
timestamp    100836 non-null int64
dtypes: float64(1), int64(3)
memory usage: 3.1 MB

In [75]:
df.describe()

              userId        movieId         rating     timestamp
count  100836.000000  100836.000000  100836.000000  1.008360e+05
mean      326.127564   19435.295718       3.501557  1.205946e+09
std       182.618491   35530.987199       1.042529  2.162610e+08
min         1.000000       1.000000       0.500000  8.281246e+08
25%       177.000000    1199.000000       3.000000  1.019124e+09
50%       325.000000    2991.000000       3.500000  1.186087e+09
75%       477.000000    8122.000000       4.000000  1.435994e+09
max       610.000000  193609.000000       5.000000  1.537799e+09

In [92]:
#1 способ
df[df['rating'] == 5.0].groupby('movieId').count().sort_values('userId',ascending=False).head(1)

         userId  rating  timestamp
movieId
318         153     153        153

In [96]:
#2 способ
df[df['rating'] == 5.0]['movieId'].value_counts().idxmax()

318

### Задание 4
По данным файла power.csv посчитайте суммарное потребление стран Прибалтики (Латвия, Литва и Эстония) категорий 4, 12 и 21 за период с 2005 по 2010 года. Не учитывайте в расчетах отрицательные значения quantity.

In [128]:
pw = pd.read_csv('power.csv', parse_dates = True, index_col = 'year')

In [129]:
pw.head()

            country  quantity  category
year
1996-01-01  Austria       5.0         1
1995-01-01  Austria      17.0         1
2014-01-01  Belgium       0.0         1
2013-01-01  Belgium       0.0         1
2012-01-01  Belgium      35.0         1

In [130]:
pw.info()

<class 'pandas.core.frame.DataFrame'>
DatetimeIndex: 1189482 entries, 1996-01-01 to 2008-01-01
Data columns (total 3 columns):
country     1189482 non-null object
quantity    1189482 non-null float64
category    1189482 non-null int64
dtypes: float64(1), int64(1), object(1)
memory usage: 36.3+ MB

In [210]:
z = pw[((pw['country'] == 'Latvia') | (pw['country'] == 'Estonia') | (pw['country'] == 'Lithuania'))].loc['2005':'2010']

In [211]:
# 1 способ, делаем фильтры отдельно
z = z[(z['category']== 4) | (z['category'] == 12) | (z['category'] == 21)]

In [212]:
z[(z['quantity'] > 0)]['quantity'].sum()

240580.0

In [213]:
#2 способ, делаем все фильтры сразу
z[((z['category']== 4) | (z['category'] == 12) | (z['category'] == 21)) & (z['quantity'] > 0)]['quantity'].sum()

240580.0

### Задание 5
Решите систему уравнений:
4x + 2y + z = 4
x + 3y = 12
5y + 4z = -3

In [155]:
from numpy import linalg

In [156]:
# коэффициенты при переменных в левой части уравнения

a = np.array( [ [4, 2, 1], [1, 3, 0], [0,5,4]] )

In [157]:
# значения в правой части уравнения

b = np.array(  [4, 12, -3] )

In [158]:
linalg.solve(a, b)

array([ 0.46666667,  3.84444444, -5.55555556])

In [159]:
#Проверка верности решения
np.allclose( np.dot(a, linalg.solve(a, b)), b )

True